/Shark-Species-Identifier/Dataset
/Shark-Species-Identifier/Tenserflow/workspace/images/collectedImages
/Shark-Species-Identifier/Tenserflow/labelimg
/Shark-Species-Identifier/identificationSystem/Lib
/Shark-Species-Identifier/identificationSystem/Media